# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch
api.json
seamdless.json
*.afphoto

app
openai
*ImagePlaceholder*
!ImagePlaceholder_040.png
temp.txt
# byte-compiled python files
*.py[cod]
/.vs